<ion-header>
  <ion-navbar>
    <ion-title>Lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <button ion-button (click)="goToSlide()">goto</button>
      <button ion-button (click)="log()">log</button>
      <button ion-button (click)="unlog()">unlog</button>
      <ion-list>
        <ion-item-sliding *ngFor="let item of items">
          <ion-item>
            <ion-avatar item-start>
              <img src="/assets/images/doremon.jpg">
            </ion-avatar>
            <h2>{{item}}</h2>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary">
              <ion-icon name="call"></ion-icon>
              Call
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="mail"></ion-icon>
              Email
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>